.container1 {
  // background-image: "url(../../../assets/globe.jpg)";
  // background-size: cover;
  // background-color: darkgray;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: center;
  overflow: hidden;
}

.card1 {
  width: 320px;
  height: 320px;
  margin: 10px;
  cursor: pointer;
}

.cardHeader {
  height: 48px;
  display: flex;
  justify-content: center;
}

.cardContent {
  display: flex;
  justify-content: center;
}

.cardText {
  font-size: large;
  font-style: oblique;
}
