<div class="container1">
  <span *ngFor="let region of regions$ | async">
    <mat-card class="card1" [routerLink]="['/lazy/countryList/', region.link]">
      <mat-card-header class="cardHeader">
        <mat-card-subtitle class="cardText">{{ region.name | uppercase }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="cardContent">
        <img src="../../assets/{{region.icon}}" width="200" height="200">
      </mat-card-content>
    </mat-card>
  </span>
</div>
