<div class="form-group">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term">
</div>
<mat-list *ngFor="let country of countries$ | async | countriesPipe:term">
  <mat-list-item><a routerLink="/lazy/countryDetails/{{ country.name }}"><img src="{{ country.flag }}">&nbsp;{{
      country.name }}</a></mat-list-item>
</mat-list>
