<mat-expansion-panel *ngFor="let country of country$ | async">
  <mat-expansion-panel-header>
    <mat-panel-title>Country: {{country?.name}}</mat-panel-title>
    <mat-panel-description>
      Region: {{country?.region}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
    <li>Capital: {{country?.capital}}</li>
    <li>Alpha2 Code: {{country?.alpha2Code}}</li>
    <li>Alpha3 Code: {{country?.alpha3Code}}</li>
    <li>Alt spelling: <span *ngFor="let altSpelling of country?.altSpellings">{{altSpelling}}&nbsp;</span></li>
    <li>Calling codes: <span *ngFor="let callingCode of country?.callingCodes">{{callingCode}}&nbsp;</span></li>
    <li>Top-level domains: <span
        *ngFor="let oneTopLevelDomain of country?.topLevelDomain">{{oneTopLevelDomain}}&nbsp;</span></li>
  </ul>
</mat-expansion-panel>
