<button mat-button color="primary" class="left" (click)="goBack()" *ngIf="!backButtonTarget">Back</button>
<a href="https://gwo.pl/"><img src="../../../assets/logo_gwo.png" class="center"></a>
<button mat-button color="primary" class="right" routerLink="/about">About</button>
