.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.left {
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
  float: left;
}

.right {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
  float: right;
}
